* {
    margin: 0;
    padding: 0;
    font-family: serif;
}

#body {
    background-color: #646B63;
}

nav {
    background-color: #646B63;
}

#btn-nav {
    background-color: #646B63;
}


#btn-nav {
  display: flex;
  justify-content: center;
}
#btn-b {
  padding: 10px;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.5);
}

form {
    width: 100%;
    height: auto;
    padding: 20px;
    text-align: center;
    margin-top: 60px;
    margin: auto;
    background: #646B63;
}

.input {
    width: 50%;
    padding: 14px;
    font-size: 16px;
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.5);
    border-style: none;
    border-radius: 5px;
    outline: 0px;
}

#button {
    width: 60%;
    padding: 14px;
    font-size: 16px;
    margin-top: 20px;
    background: rgba(23, 214, 200, 0.3);
    border-style: none;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    outline: 0px;
}

button[type=button] {
    border-radius: 30px;
}

h1 {
    font-size: 50px;
    color: #fff;
    text-align: center;
    padding-top: 50px;
}

.title {
    text-align: center;
}

#h {
    font-size: 15px;
    color: #fff;
    text-align: center;
    padding-top: 50px;
}

#b {
    font-size: 35px;
    color: #fff;
    text-align: center;
    padding-top: 50px;
}

#metas {
    text-align: center;
    margin-top: 40px;
}

tr {
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#button:hover {
    color: #fff;
    background: blue;
}

#paragraph-p {
    font-size: 12px;
    color: blue;
}

.btn1 {
    background-color: rgba(23, 214, 200, 0.3);
    font-size: 25px;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 30px;
}

.btn1:hover {
    color: black;
    background-color: rgba(23, 214, 200, 0.5);
}

.container-button_rent {
    margin-bottom: 50px;
}

#form-E {
    height: 100%;
}

.overlay {
    background: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    visibility: hidden;
}

.overlay.active {
    visibility: visible;
}

.popup {
    background: #F8F8F8;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    text-align: center;
    width: 600px;
    transition: .3s ease all;
    transform: scale(0.7);
    opacity: 0;
}

.btn-cerrar-popup {
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: right;
    transition: .3s ease all;
    color: #BBBBBB;
}

.popup .btn-cerrar-popup:hover {
    color: #000;
}

.popup h3 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    opacity: 0;
}

.popup h4 {
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 40px;
    opacity: 0;
}

.popup form .contenedor-inputs {
    opacity: 0;
}

.popup form .contenedor-inputs input {
    width: 100%;
    margin-bottom: 20px;
    height: 52px;
    font-size: 18px;
    line-height: 52px;
    text-align: center;
    border: 1px solid #BBBBBB;
}

.btn-submit {
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    border: none;
    color: #fff;
    background: #5E7DE3;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: .3s ease all;
}

.popup form .btn-submit:hover {
    background: rgba(94, 125, 227, .9);
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup.active {
    transform: scale(1);
    opacity: 1;
}

.popup.active h3 {
    animation: entradaTitulo .8s ease .5s forwards;
}

.popup.active h4 {
    animation: entradaSubtitulo .8s ease .5s forwards;
}

.popup.active .contenedor-inputs {
    animation: entradaInputs 1s linear 1s forwards;
}

@keyframes entradaTitulo {
    from {
        opacity: 0;
        transform: translateY(-25px);
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes entradaSubtitulo {
    from {
        opacity: 0;
        transform: translateY(25px);
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes entradaInputs {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
